@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-dark: #050505;
  --color-brand-green: #0ABF53;
  /* BrickFi Green */
  --color-brand-light: #F2F2F2;
  --color-brand-accent: #1A1A1A;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #ffffff;
  --foreground: #0F172A;

  --primary: #0ABF53;
  --primary-foreground: #000000;

  --secondary: #1A1A1A;
  --secondary-foreground: #FFFFFF;

  --muted: #1A1A1A;
  --muted-foreground: #A1A1AA;

  --accent: #1A1A1A;
  --accent-foreground: #FFFFFF;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #0F172A;

  --radius: 0.5rem;
}

.dark {
  --background: #0F172A;
  --foreground: #F8FAFC;

  --primary: #0ABF53;
  --primary-foreground: #000000;

  --secondary: #1A1A1A;
  --secondary-foreground: #FFFFFF;

  --muted: #1A1A1A;
  --muted-foreground: #A1A1AA;

  --accent: #1A1A1A;
  --accent-foreground: #FFFFFF;

  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;

  --border: #334155;
  --input: #334155;
  --ring: #C6A664;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}